header {
	background: #BBBBBB;
	padding: 15px 0;
}

h1 {
	position: relative;
	margin: auto;
	align-items: center;
	font-weight: bold;
	font-size: 20px;
	font-family: Arial;
	text-align: center;
}

main {
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 15px;
	width: 50%;
}

table {
	padding: 10px 15px;
	width: 100%;
}

.linha {
	color: white;
}

.cadastrar {
	width: 20%;
	padding: 15px 0;
	background: greenyellow;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.cadastrar:hover {
	background: darkgreen;
	transform: scale(1);
}

.editar {
	width: 20%;
	padding: 15px 0;
	background: skyblue;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.editar:hover {
	background: darkblue;
	transform: scale(1);
}

.excluir {
	width: 20%;
	padding: 15px 0;
	background: red;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.excluir:hover {
	background: darkred;
	transform: scale(1);
}

table {
	margin: 20px 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}